RewriteEngine On

# # Serve {something}.php from src/pages when /{something} is accessed
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^([^/]+)$ /src/pages/$1.php [L]

RewriteRule ^announcements$ src/pages/announcements.php [L]

# For other requests, if the requested filename is not an existing file or directory, redirect to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]